

@{
    ViewBag.Title = "GetAccount";
    Layout = "~/Views/Shared/_Layui.cshtml";
}

<div class="site-text site-block" style="width:80%;  margin:0 auto; min-height: 700px">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>添加产品</legend>
    </fieldset>

    <p>
        @Html.ActionLink("Create New", "Create", "Account", new { id = 1 }, new { @class = "layui-btn" })
    </p>
    <table class="layui-table">

        <tr>
            <td>
                邮箱
            </td>
            <td>
                密码
            </td>
            <td>
                语言
            </td>
            <td>
                角色
            </td>
            <td>
                编辑
            </td>
        </tr>
        @foreach (var @item in ViewBag.model)
        {
            <tr>
                <td>
                    @item.UEmail
                </td>
                <td>
                    ******
                </td>
                <td>
                    @item.Ulang
                </td>
                <td>
                    @{
                        if (@item.Urole.Trim().Equals("C"))
                        {
                            <span>标签系统管理员</span>
                        }
                        if (@item.Urole.Trim().Equals("B"))
                        {
                            <span>标签录入员</span>
                        }
                        if (@item.Urole.Trim().Equals("A"))
                        {
                            <span>标签查阅员</span>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = @item.Uid }) |
                    <a href="#" onclick="tool.del(@item.Uid)">Delete</a>
                </td>
            </tr>
                        }

    </table>
</div>
